.login-form {
    max-width: 500px;
    width: 100%;
    padding: 0.938rem;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.login-form h1 {
    font-size: 1.4rem;
    margin: 0.938rem 0rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.login-form .form {
    padding: 0.938rem 0rem;
}

.message {
    margin: 0.938rem 0rem;
    padding: 0.938rem;
    text-align: center;
    font-size: 0.938rem;
    color: inherit;
    border: 1px solid #e9ecef;
    background-color: #fcfcfd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.message.error {
    color: #58151c;
    background-color: #f8d7da;
    border-color: #f1aeb5;
}

@media (min-width:768px) {
    .login-form {
        padding: 3.438rem 2.813rem 2rem 2.813rem;
    }
    .login-form h1 {
        font-size: 1.875rem;
        margin: 1.25rem 0rem;
    }
    .login-form form {
        margin: 1.563rem;
    }
}