.App {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #9181f4 0%,#5038ed 100%); 
  padding: 0 15px;
}

@media (min-width: 768px) {
  .App {
    padding: 0;
  }
}






