html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: border-box;
}

div {
  display: block;
  position: relative;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 1.2rem;
    margin: 0.938rem 0rem;
    font-weight: 700;
}

@media (min-width: 768px) {
  h1 {
      font-size: 1.875rem;
      margin: 1.25rem 0rem;
  }
}
